.wrapper {
    max-width: 100%;
    overflow: hidden;
    color: $blackTextColor;
}

body {
    font-family: 'Metropolis';
    font-style: normal;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}