.first-section {
    position: relative;

    &__img {
        position: absolute;
        top: -100px;
        right: 0px;
        z-index: 0;
        width: 100%;
        max-width: 863px;

        @media (max-width: $breakepoint1200) {
            max-width: 700px;
            top: -100px;
        }

        @media (max-width: $breakepoint992) {
            max-width: 700px;
            top: -100px;
        }

        @media (max-width: $breakepoint768) {
            max-width: 500px;
            top: -30px;
        }


        @media (max-width: $breakepoint480) {
            max-width: 400px;
            top: -30px;
        }
    }
}

.dao {
    position: relative;
    z-index: 1;

    &__main-title {
        @include fontWeight(700);
        font-size: 48px;
        line-height: 62px;
        color: $blackTextColor;
        max-width: 387px;
        margin-bottom: 15px;

        @media (max-width: $breakepoint768) {
            font-size: 40px;
            line-height: 52px;
        }

        @media (max-width: $breakepoint480) {
            font-size: 36px;
            line-height: 42px;
            max-width: 300px;
        }
    }

    &__subtitle {
        font-size: 14px;
        line-height: 24px;
        color: $lightGreyTextColor;
        margin-bottom: 62px;
        letter-spacing: 0.1px;

        @media (max-width: $breakepoint1200) {
            max-width: 400px;
        }

        @media (max-width: $breakepoint768) {
            margin-bottom: 42px;
        }

        @media (max-width: $breakepoint480) {
            margin-bottom: 32px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 22px;
        margin-bottom: 130px;

        @media (max-width: $breakepoint768) {
            margin-bottom: 70px;
        }

        @media (max-width: $breakepoint480) {
            flex-wrap: wrap;
            gap: 12px;
            margin-bottom: 40px;
        }
    }

    &__item {
        color: $blueBgColor;

        &:first-child {
            min-width: 144px;
            min-height: 40px;
            margin-left: 1px;
            color: $whiteTextColor;
            background: $blueBgColor;
            border-radius: 4px;
            padding: 13px 0;


            &:hover {
                background-color: $darkenBlueBgColor;

                img {
                    transform: translate(3px, -3px);
                    transition: 0.3s all ease;
                }
            }

            transition: 0.2s all ease;
        }

        &:last-child:hover {
            text-decoration: underline;
        }

        &:last-child {
            @media (max-width: $breakepoint992) {
                color: $whiteTextColor;
                min-width: 144px;
                min-height: 40px;
                background: $blueBgColor;
                border-radius: 4px;
                padding: 13px 0;

                &:hover {
                    background-color: $darkenBlueBgColor;
                }
            }
        }
    }

    &__link-item {
        padding-left: 23px;
        white-space: nowrap;
    }

    &__link-img {
        padding-left: 6px;
    }

    &__subsubtitle {
        @include fontWeight(400);
        color: $lightGreyTextColor;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__numbers-row {
        display: flex;
        gap: 80px;
        margin-bottom: 196px;

        @media (max-width: $breakepoint768) {
            gap: 40px;
            margin-bottom: 100px;
        }

        @media (max-width: $breakepoint480) {
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 50px;
        }
    }

    &__numbers-daos {
        @include fontWeight(400);
    }

    &__count {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 12px;

        @media (max-width: $breakepoint480) {
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 8px;
        }
    }

    &__name {
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        color: $greyTextColor;
    }
}